
@model IEnumerable<CategoryViewModel>

<div action="AllCategories">
    @foreach (var item in Model)
    {
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-outlined">@item.Name</label><br>
    }
</div>


