
@model CreateProductBindingModel


@{
    var product = ViewBag.Product;
}

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for= "Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="FileUpload" class="form-control custom-file-input" />
                    <label class="custom-file-label">Select image:</label>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>

            </div>
            <div>
                <p>
                    Select Category:
                    <asp:DropDownList ID="Categories" runat="server" DataSourceID="CategoriesData"
                                      DataTextField="CategoryId" DataValueField="CategoryName" AutoPostBack="true" />
                    <asp:SqlDataSource ID="CategoriesData" runat="server"
                                       ConnectionString="<%$ ConnectionStrings:NorthwindConnectionString %>"
                                       SelectCommand="SELECT [CategoryId], [CategoryName] FROM [Categories]"></asp:SqlDataSource>
                </p>
            </div>
            <div>
                <div class="dropdown">
                    <select class="form-control" id="Type" name="Type">
                        <option>Select Type</option>
                        <option>Category1</option>
                        <option>Category2</option>
                    </select>
                </div>
            </div>
            @*<div>
                @foreach (var category in ViewBag.Categories)
                {
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-outlined">@category.Name</label><br>

                }
            </div>*@

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>