@model IEnumerable<CategoryViewModel>


@{
    ViewData["Title"] = "Categories";
}

<h1>Caregories</h1>
<p>
    <div type="submit" value="Create" class="btn btn-primary">
        <a asp-controller="Administration" asp-action="CreateCategory">Create New</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        <a asp-controller="Administration" asp-action="EditCategory" asp-route-id="@item.Id" >Edit</a>
                </td>

                <td>
                        <a asp-controller="Administration" asp-action="DeleteCategory" asp-route-id="@item.Id" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>






